.logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
    width: 320px;
}

.logo-text{
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
}

.logo img{
    width: 50px;
    height: 50px;
}

.span-text{
    color: #fff;
}

.logo-text > h1{
    font-weight: 700;
    font-size: 2vh;
}

.logo-text > small{
    font-weight: 500;
}
.logo > div{
    color: #C79336;
}