.missions{
    display: flex;
    padding-top: 2vh;
    flex-flow: row nowrap;
    gap: 8px;
    justify-content: center;
}

.mission{
    width: 85ch;
    /* height: 15vh; */
    border: 1px solid #C79336;
    background-color: #C79336;
    color: #fff;
    padding: 50px;  
    border-radius: 40px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .text{

} */

.about-us{
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    line-height: 3ch;
}


.objectives{
    margin-top: 2vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    justify-content: center;
}


.objective{
    /* height: 15vh; */
    border: 1px solid black;
    padding: 50px;  
    border-radius: 40px;
    width: 100%;
}

.objective-1{
    margin-top: 5px;
    padding-top: 30px;  
    border-radius: 40px;  
    width: 100%;
    line-height: 6ch;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission:hover{
    transform: translateY(-5px);
}

.objective-1:hover{
    transform: translateY(-5px);
}