@tailwind base;
@tailwind components;
@tailwind utilities;

/* h3, h4, h2, h5, h1 {
  font-family: 'YDYoonche';
} */
@font-face {
  font-family: 'YDYoonche';
  src: url('./assets/fonts/YDYooncheB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'YDYoonche', sans-serif;
}

* {
  font-family: inherit;
}